@charset "UTF-8";@font-face {
    font-family: 'TTSeokbosangjeolB';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.2/TTSeokbosangjeolB.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'SangSangRock';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SangSangRockOTF.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'KBIZHanmaumMyungjo';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KBIZHanmaumMyungjo.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'JeongsogeonhaeR';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/OTJeongsogeonhaeRA.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'DOSMyungjo';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'LAB디지털';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'PFStardust';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'YiSunShinRegular';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinRegular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Jaemin';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jaemin.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'UhBeeRice';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeRice.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'JSArirang-Regular';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirang-RegularA1.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'SDMiSaeng';
    src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

body,select {
    font-family: 'GmarketSansBold',sans-serif
}

html, body, #root {
    height: 100%;
}